---
layout: default
title: Configuration
description: Python-DNN Configuration Documentation
isHome: false
hide: false
---


<div>
  <h1 id=main>Overview</h1>
  Python-DNN uses 3 configuration files which are in json format.
  <ol>
    <li> Model Configuration (model.conf) </li>
    <li> Data Configuration (data.conf) </li>
    <li> Network Configuration (nnet.conf)</li>
  </ol>
  </div>
</section>

<section class="bs-docs-section">
  {% capture my-include %}{% include_relative _doc/Model_Config.md %}{% endcapture %}
  {{ my-include | markdownify }}
</section>

<section class="bs-docs-section">
  <div>
    {% capture my-include %}{% include_relative _doc/Data_Specification.md %}{% endcapture %}
    {{ my-include | markdownify }}
  </div>
</section>

<section class="bs-docs-section">
  <h1 id="nnet_spec" class="page-header">NNET Configuration</h1>
  <div>
    {% capture my-include %}{% include_relative _doc/CNN_Specification.md %}{% endcapture %}
    {{ my-include | markdownify }}
  </div>
  <div>
  {% capture my-include %}{% include_relative _doc/DBN_Specification.md %}{% endcapture %}
  {{ my-include | markdownify }}
  </div>
  <div>
  {% capture my-include %}{% include_relative _doc/DNN_Specification.md %}{% endcapture %}
  {{ my-include | markdownify }}
  </div>
  <div>
  {% capture my-include %}{% include_relative _doc/SDA_Specification.md %}{% endcapture %}
  {{ my-include | markdownify }}
  </div>
</section>
<section class="bs-docs-section">
  {% capture my-include %}{% include_relative _doc/Activation_Fns.md %}{% endcapture %}
  {{ my-include | markdownify }}
</section>

<section class="bs-docs-section">
  <div>
    {% capture my-include %}{% include_relative _doc/DataFormats.md %}{% endcapture %}
    {{ my-include | markdownify }}
  </div>
</section>

<section class="bs-docs-section">
<h1 id="examples">Example</h1>
See: <a href="{{site.githubUrl}}/tree/master/sample_config/">Sample Configuration Folder</a>
</section>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div id="myModalContent" class="modal-body">
  </div>
</div>

<script type="text/javascript">
$(function(){
  $('a[href$=".json"]').attr("data-toggle", "modal");
  $('a[href$=".json"]').attr("data-target", "#myModal");
  $('a[href$=".json"]').on('click', function(e) {
  e.preventDefault();
  var url = $(this).attr('href');
  $('.modal-body').html('<iframe width="100%" height="100%" frameborder="0" scrolling="no" allowtransparency="true" src="' + url + '"></iframe>');
  });
});
</script>

<section>
<!-- to balance-->
